@font-face {
    font-family: survivor;
    src: url(Survivor_Font.ttf);
}
html, body {
    font-family: "survivor", "Sans Serif";
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    position: relative;
}
.title_img {
    background-image: url("https://arthistoryoftheday.files.wordpress.com/2011/08/bernini-david1.jpg");
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.title_text {
    position: absolute;
    /*width: 100%;*/
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title_text p {
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 40px;
    letter-spacing: 10px;
}

#survivor_form {
    margin: 0 auto;
    height: 100%;
    align-items: center;
    text-align: center;
}
.isHidden {
    display: none;            
}
.tab {
    display: none;
    /*height: 100%;*/
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
h1 {
    font-size: 72px;
    margin-bottom: 0;
    margin-top: 20px;
}
h3 {
    font-size: 36px;
    margin: 10px;
}
select,
.bonusQ_label {
    font-size: 24px;
}
#advance_form {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    background-color: #000;
    padding: 10px 0px;
    margin-top: 50px;
}
/*
#progress_buttons,
#progress_bar {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}*/
/*
#progress_buttons {
    padding-bottom: 40px;
}
#progress_bar {
    padding-bottom: 10px;
}*/
#enterBtn,
#prevBtn, 
#nextBtn,
#PastResponses {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
#enterBtn:hover,
#prevBtn:hover, 
#nextBtn:hover,
#PastResponses:hover {
    opacity: 0.8;
}
#prevBtn {
    background-color: #bbbbbb;
}

/****************/
/* RESULTS.HTML */
/****************/
.results_title {
    text-align: center;
}
#PastResponses {
    padding: 5px;
    font-size: 18px;
    background-color: #bbbbbb;
}
#PastResponsesText {
    font-size: 28px;
}
#chart {
    display: table;
    margin: 0 auto;		
}
.graph {
    display: block;
}
.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}
.axis text,
g text {
    fill: #fff;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: left;
    position: absolute;
    z-index: 40;
    font: 12px verdana, sans-serif;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Contestant Input Buttons */
.Natalia_Azoqua {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/13c7e74872b87a9d_svr37_800x1000_nataliaazoqa.jpg");
}
.Carl_Boudreaux {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/8cb547f9d9960fe9_svr37_800x1000_carlboudreaux.jpg");
}
.Natalie_Cole {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/8132580fc0d84588_svr37_800x1000_nataliecole.jpg");
}
.Jeremy_Crawford {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/0bdc2f727c6f99ee_svr37_800x1000_jeremycrawford.jpg");
}
.Pat_Cusack {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/9b15fdd623795c1a_svr37_800x1000_patcusack.jpg");
}
.John_Hennigan {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/297329a83288b25f_svr37_800x1000_johnhennigan.jpg");
}
.Christian_Hubicki {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/2f368ae8a128c594_svr_christianh_800x1000.jpg");
}
.Kara_Kay {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/806bb21886d2dcf0_svr37_800x1000_karakay.jpg");
}
.Angelina_Keeley {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/516aca89f77c9a6b_svr37_800x1000_angelinakeeley.jpg");
}
.Alec_Merlino {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/4be6faee886ff178_svr37_800x1000_alecmerlino.jpg");
}
.Bi_Nguyen {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/362a1456b98acc15_svr37_800x1000_binguyen.jpg");
}
.Elizabeth_Olsen {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/7bb465cc79e38f4b_svr37_800x1000_elizabetholsen.jpg");
}
.Gabby_Pascuzzi {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/9128154ea29ea81f_svr37_800x1000_gabbypascuzzi_.jpg");
}
.Jessica_Peet {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/f0acab872d91c098_svr37_800x1000_jessicapeet.jpg");
}
.Alison_Raybould {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/c70dba33ac036406_svr37_800x1000_alisonraybould.jpg");
}
.Dan_Rengering {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/b7af171dcd9574bf_svr37_800x1000_danrengering.jpg");
}
.Davie_Rickenbacker {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/7385df05f4baa622_svr37_800x1000_davierickenbacker.jpg");
}
.Lyrsa_Torres {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/98015acfff1d282e_svr37_800x1000_lyrsatorres.jpg");
}
.Nick_Wilson {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/1187dc4edb2d3a31_svr37_800x1000_nickwilson.jpg");
}
.Mike_White {
    /*background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/ef738c197d8a9c61_svr37_800x1000_mikewhite.jpg");*/
    /* Lol they changed his photo so he has a shirt on */
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/b0ff2beae68866cb_svr_mikew_800x1000.jpg");
}
.contestants{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    color: black;
}
.team_david {
    background-color: rgb(213,107,35);
}
.team_goliath {
    background-color: rgb(122,41,107);
}
.team_name {
    text-align: right;
}
.cc-selector {
    position: relative;
    width: 210px;
    margin-bottom: 10px;
    margin-right: 12px;
    float: left;
    padding-bottom: 10px;
    height: 305px;
    background-image: url(images/patternBG.jpg);
    background-repeat: repeat;
    background-position: center top;
}
.cc-selector p {
    font-size: 24px;
    position: absolute;
    text-align: left;
    margin: 0 0 0 10px;
}
.cc-selector .name {
    top: 10px;
}
.cc-selector .team_name {
    top: 30px;
}
.cc-selector img {
    position: absolute;
    top: 5px;
    right: 10px;
}
.cc-selector input{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.cc-selector label {
    margin-bottom: 2px;
    position: absolute;
    top: 65px;
    left: 10px;
}
.survivor-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;
    height:240px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.survivor-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.greyLabel{
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
