body {
    font-family: "Sans Serif";
    background-color: #A5BDAF;
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
#results_title {
    text-align: center;
}
.title {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}
.title span {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#survivor_form {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    height: 75%;
    background-color: #A5BDAF;
}
.team_banner {
    background-color: rgb(213,107,35);
    padding: 10px 0px;
    color: #fff;
} 
.isHidden {
    display: none;            
}
.tab {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    /*display: flex;*/
    /*justify-content: center;*/
    text-align: center;
}

.graph {
    display: block;
}

#progress_buttons {
    overflow: auto;
    text-align: center;
    padding-top: 40px;
}

#prevBtn, 
#nextBtn {
    background-color: rebeccapurple;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
#prevBtn:hover, 
#nextBtn:hover {
    opacity: 0.8;
}
#prevBtn {
    background-color: #bbbbbb;
}

#progress_bar {
    text-align: center;
    margin-top:40px;
}


#chart {
    display: table;
    margin: 0 auto;		
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: left;
    position: absolute;
    z-index: 40;
    font: 12px verdana, sans-serif;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Contestant Input Buttons */
.Natalia_Azoqua {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/13c7e74872b87a9d_svr37_800x1000_nataliaazoqa.jpg");
}
.Carl_Boudreaux {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/8cb547f9d9960fe9_svr37_800x1000_carlboudreaux.jpg");
}
.Natalie_Cole {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/8132580fc0d84588_svr37_800x1000_nataliecole.jpg");
}
.Jeremy_Crawford {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/0bdc2f727c6f99ee_svr37_800x1000_jeremycrawford.jpg");
}
.Pat_Cusack {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/9b15fdd623795c1a_svr37_800x1000_patcusack.jpg");
}
.John_Hennigan {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/297329a83288b25f_svr37_800x1000_johnhennigan.jpg");
}
.Christian_Hubicki {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/2f368ae8a128c594_svr_christianh_800x1000.jpg");
}
.Kara_Kay {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/806bb21886d2dcf0_svr37_800x1000_karakay.jpg");
}
.Angelina_Keeley {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/516aca89f77c9a6b_svr37_800x1000_angelinakeeley.jpg");
}
.Alec_Merlino {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/4be6faee886ff178_svr37_800x1000_alecmerlino.jpg");
}
.Bi_Nguyen {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/362a1456b98acc15_svr37_800x1000_binguyen.jpg");
}
.Elizabeth_Olsen {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/7bb465cc79e38f4b_svr37_800x1000_elizabetholsen.jpg");
}
.Gabby_Pascuzzi {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/9128154ea29ea81f_svr37_800x1000_gabbypascuzzi_.jpg");
}
.Jessica_Peet {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/f0acab872d91c098_svr37_800x1000_jessicapeet.jpg");
}
.Alison_Raybould {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/c70dba33ac036406_svr37_800x1000_alisonraybould.jpg");
}
.Dan_Rengering {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/b7af171dcd9574bf_svr37_800x1000_danrengering.jpg");
}
.Davie_Rickenbacker {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/7385df05f4baa622_svr37_800x1000_davierickenbacker.jpg");
}
.Lyrsa_Torres {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/98015acfff1d282e_svr37_800x1000_lyrsatorres.jpg");
}
.Nick_Wilson {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/1187dc4edb2d3a31_svr37_800x1000_nickwilson.jpg");
}
.Mike_White {
    background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w270/cast/ef738c197d8a9c61_svr37_800x1000_mikewhite.jpg");
}
label {
    padding-top: 5px;
    color: black;
    font-weight: bold;
    text-shadow: white 0.1em 0.1em 0.2em;
}
.cc-selector input{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.survivor-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;
    height:280px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.survivor-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.greyLabel{
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}