@font-face {
    font-family: survivor;
    src: url(Survivor_Font.ttf);
}
html, body {
    font-family: "survivor", "Sans Serif";
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    position: relative;
}
.title_img {
    background-image: url("https://cbssanfran.files.wordpress.com/2019/01/survivoreoe.jpg?w=1500");
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.title_text {
    position: absolute;
    /*width: 100%;*/
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title_text p {
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 40px;
    letter-spacing: 10px;
}

#survivor_form {
    margin: 0 auto;
    height: 100%;
    align-items: center;
    text-align: center;
}
.isHidden {
    display: none;            
}
.tab {
    display: none;
    /*height: 100%;*/
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
h1 {
    font-size: 72px;
    margin-bottom: 0;
    margin-top: 20px;
}
h3 {
    font-size: 36px;
    margin: 10px;
}
select,
.bonusQ_label {
    font-size: 24px;
}
#advance_form {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    background-color: #000;
    padding: 10px 0px;
    margin-top: 50px;
}
/*
#progress_buttons,
#progress_bar {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}*/
/*
#progress_buttons {
    padding-bottom: 40px;
}
#progress_bar {
    padding-bottom: 10px;
}*/
#enterBtn,
#prevBtn, 
#nextBtn,
#PastResponses {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
#enterBtn:hover,
#prevBtn:hover, 
#nextBtn:hover,
#PastResponses:hover {
    opacity: 0.8;
}
#prevBtn {
    background-color: #bbbbbb;
}

/****************/
/* RESULTS.HTML */
/****************/
.results_title {
    text-align: center;
}
#PastResponses {
    padding: 5px;
    font-size: 18px;
    background-color: #bbbbbb;
}
#PastResponsesText {
    font-size: 28px;
}
#chart {
    display: table;
    margin: 0 auto;		
}
.graph {
    display: block;
}
.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}
.axis text,
g text {
    fill: #fff;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: left;
    position: absolute;
    z-index: 40;
    font: 12px verdana, sans-serif;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Contestant Input Buttons */
.Aubry_Bracco { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/5faaa53915813b48_svr_cast_abracco_800x1000.jpg")
}
.Aurora_McCreary { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/abd578626e70ad78_svr_cast_amccreary_800x1000.jpg")
}
.Chris_Underwood { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/45c9f4ae1e98baf1_svr_cast_cunderwood_800x1000.jpg")
}
.Dan_DaSilva { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/195c84bc116b8547_svr_cast_dwardog_800x1000.jpg")
}
.David_Wright { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/a4f0b0d4705ed8a2_svr_cast_dwright_800x1000.jpg")
}
.Eric_Hafemann { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/0e130db9f6a81611_svr_cast_ehafemann_800x1000.jpg")
}
.Gavin_Whitson { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/e8e3c1d3cdefee83_svr_cast_gwhitson_800x1000.jpg")
}
.Joe_Anglim { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/5622a54a6a3dcc25_svr_cast_janglim_800x1000.jpg")
}
.Julia_Carter { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/d4500752a58bae77_svr_cast_jcarter_800x1000.jpg")
}
.Julie_Rosenberg { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/6cf6e92c0a499b35_svr_cast_jrosenberg_800x1000.jpg")
}
.Keith_Sowell { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/a4302db0988dce1e_svr_cast_ksowell_800x1000.jpg")
}
.Kelley_Wentworth { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/682de4383710c58f_svr_cast_kwentworth_800x1000.jpg")
}
.Lauren_OConnell { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/33d0f2a26f5ab55c_svr_cast_loconnell_800x1000.jpg")
}
.Reem_Daly { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/de20d3f560c0ccdf_svr_cast_rdaly_800x1000.jpg")
}
.Rick_Devens { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/3647783c50eec171_svr_cast_rdevens_800x1000.jpg")
}
.Ron_Clark { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/cf3bd2be294225a0_svr_cast_rclark_800x1000.jpg")
}
.Victoria_Baamonde { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/b2a1a63eb655f2c0_svr_cast_vbaamonde_800x1000.jpg")
}
.Wendy_Diaz { 
	background-image: url("https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w170-h215/cast/a01daf66d72af081_svr_cast_wdiaz_800x1000.jpg")
}

.contestants{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    color: black;
}

.team_yellow {
    background-color: rgb(251,225,5);
}
.team_blue {
    background-color: rgb(32,0,203);
}
.team_name {
    text-align: right;
}
.cc-selector {
    position: relative;
    width: 210px;
    margin-bottom: 10px;
    margin-right: 12px;
    float: left;
    padding-bottom: 10px;
    height: 305px;
    background-image: url(images/patternBG.jpg);
    background-repeat: repeat;
    background-position: center top;
}
.cc-selector p {
    font-size: 24px;
    position: absolute;
    text-align: left;
    margin: 0 0 0 10px;
}
.cc-selector .name {
    top: 10px;
}
.cc-selector .team_name {
    top: 30px;
}
.cc-selector img {
    position: absolute;
    top: 5px;
    right: 10px;
}
.cc-selector input{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.cc-selector label {
    margin-bottom: 2px;
    position: absolute;
    top: 65px;
    left: 10px;
}
.survivor-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;
    height:240px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.survivor-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.greyLabel{
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
